@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region global styles */
:root {
	--loader-color: no-repeat linear-gradient(#333 0 0);
}
html {
    scroll-behavior: smooth;
}
/* #endregion */

/* #region scrollbar styles */
.scroll::-webkit-scrollbar {
	width: 4px;
}
.scroll:hover::-webkit-scrollbar {
	width: 6px;
}
.scroll::-webkit-scrollbar-track-piece {
	background-color: var(--color-light--3);
	border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb {
	background-color: var(--color-dark--0);
	border-radius: 5px;
}
/* #endregion */
