{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "trailingComma": "es5",
    "experimentalTernaries": false,
    "embeddedLanguageFormatting": "auto"
}
